<h4>Vores ønsker</h4>
<small>Listen opdateres løbende</small>

<ul class="list-group" style="color:black">
  <li class="list-group-item">Madoplevelser</li>
  <li class="list-group-item">Rosendahl Grand Cru middags tallerkner</li>
  <li class="list-group-item">Rosendahl Grand Cru pasta tallerkner</li>
  <li class="list-group-item">Sengetøj</li>
  <li class="list-group-item">Kenwood Major - Køkkenmaskine</li>
  <li class="list-group-item">Penge til at forsøde vores bryllupsrejse med</li>
  <li class="list-group-item">Laguiole knive</li>
  <li class="list-group-item">Le Cruset frokost tallerkener, forskellige farver</li>
  <li class="list-group-item">Drivhus +8m2</li>
  <li class="list-group-item">Georg Jensen Ilse lysestage</li>

</ul>
