<h1 class="text-white">Vores ønsker</h1>
<small class="text-white">Listen opdateres løbende</small>

<ul class="list-group" style="color:black">
  <li class="list-group-item">Madoplevelser</li>
  <li class="list-group-item">Rosendahl Grand Cru middags tallerkner</li>
  <li class="list-group-item">Rosendahl Grand Cru pasta tallerkner</li>
  <li class="list-group-item">Sengetøj</li>
  <li class="list-group-item">Kenwood Major - Køkkenmaskine</li>
  <li class="list-group-item">Penge til at forsøde vores bryllupsrejse med</li>
  <li class="list-group-item">Laguiole knive</li>
  <li class="list-group-item">Le Cruset frokost tallerkener, forskellige farver</li>
  <li class="list-group-item">Drivhus +8m2</li>
  <li class="list-group-item">Georg Jensen Ilse lysestage</li>
  <li class="list-group-item">Louise Roe desserttallerkner</li>
  <li class="list-group-item">Smoke vandglas</li>
  <li class="list-group-item"><a href="http://retrofabrikken.dk/produkt/sofabord-i-teaktrae-flot-bord-med-hylde-smukt-vintage-bord-flot-loed/">Sofabord 1</a></li>  
  <li class="list-group-item"><a href="https://nicehome.dk/shop/25-sofaborde/741-passion-for-retro-sofabord/">Sofabord 2</a></li>
  <li class="list-group-item">Serveringsfade fra royalcopenhagen: hvid element eller blå palmette</li>
  <li class="list-group-item">S5 konus fad i blå eller grøn</li>
  <li class="list-group-item">Laekker stegepande af kobber. 26-28cm</li>
</ul>
<p>&nbsp;</p>
<p class="text-white">Gave koordinator, David Strand +45 51364603</p>
