<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">

  <header class="masthead mb-auto">
    <div class="inner">
      <nav  class="nav nav-masthead justify-content-center">
        <a class="nav-link" [routerLink]="['/agenda']" [ngClass]="{'active' : location === 'agenda'}">Plan for dagen og andet praktisk</a>
        <a class="nav-link" [routerLink]="['/rsvp']" [ngClass]="{'active' : location === 'rsvp'}">Fortæl os om du kommer!</a>
        <a class="nav-link" [routerLink]="['/wishlist']" [ngClass]="{'active' : location === 'wishlist'}">Her er vores ønsker</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <router-outlet></router-outlet>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Opdateret d 21 april kl 21:01</p>
    </div>
  </footer>



</div>












