.cover-container {
  h1, h5 {
    font-family: 'Over the Rainbow', cursive;
  }
}
:host {
height: 100%;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
