
<h1 class="text-white">Plan for dagen</h1>
<div class="card">
  <div class="card-body">


    <p>Vi skal giftes i Engum Kirke kl 13, Engumvej 118, 7120 Vejle Øst</p>
    <p>Bagefter og frem til 17 opholder vi os i haven på Havrevej 10</p>
    <p>Kl 16:50 går vi samlet fra Havrevej og til Bredal Kro.
      <br>
      <small>Der er mindre end en kilometer. Man er selvfølgelig velkommen til at følge trop i automobil hvis der er behov for det.</small>
    </p>

    <h4>Fotograf</h4>
    <p>Under vielsen i kirken og bagefter til receptionen vil der være en fotograf tilstede. Han kan være lidt i vejen nogen gange, men vi vil jo gerne have nogle gode billeder.</p>
    <h4>Overnatning</h4>
    <p>Bredal Kro stiller værelser til rådighed til gæster til gode priser.
      <a href="http://www.bredal-kro.dk/media/1502/overnatnings-pdf.pdf">Flere detalier</a>
    </p>

    <h4>Børnepasning</h4>
    <p>Vi har planlagt at hyre babysittere så vi har mulighed for at få passet de mindste.</p>


  </div>
</div>
