/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'intl-tel-input/build/css/intlTelInput.css';
@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

html,
body {
  height: 100%;
  background-color: #333;
}

body {

  display: flex;
  flex-direction: column;

  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  ), radial-gradient( transparent 40%, rgba(0,0,0,0.8) 90%), url('assets/IMG_2783.JPG') center center;
  background-size: cover;
}


.flag-container {
  color: grey
}
